@model iMenyn.Web.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Hantera";
}

<h2>Välkommen @Model.Account.Name</h2>

@if (Model.Account.IsAdmin)
{
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("CreateFakeEnterprise", new { modified = true })" class="btn btn-primary">Skapa fake-enterprise (ny)</a>
            <a class="btn btn-primary">Skapa fake-enterprise (modifierad)</a>
        </div>
    </div>
    <div class="col-sm-6 well">
        <h4>Nya restauranger <small>(@Model.NewEnterprises.Count)</small></h4>
        @if (Model.NewEnterprises.Count == 0)
        {
            <i>Inga...</i>
        }
        else
        {
            <ul class="list-group">
                @foreach (var enterprise in Model.NewEnterprises.Take(5))
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("MenuApproval", new { enterpriseId = enterprise.Id })">
                            <h3 class="list-group-item-heading">@enterprise.Name</h3>
                            <p class="list-group-item-text">
                                Produkter: @if (enterprise.Menu != null && enterprise.Menu.Categories != null)
                                           {
                                    @enterprise.Menu.Categories.SelectMany(c => c.Products).Count()
                                           }
                                           else
                                           {
                                    <span>Inga</span>
                                           }<br />
                                Inkommen: @enterprise.LastUpdated.ToShortDateString() (@enterprise.LastUpdated.ToShortTimeString())
                            </p>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-sm-6 well">
        <h4>Modifierade menyer <small>(@Model.ModifiedEnterprises.Count)</small></h4>
        @if (Model.ModifiedEnterprises.Count == 0)
        {
            <i>Inga...</i>
        }
        else
        {
            <ul class="list-group">
                @foreach (var enterprise in Model.ModifiedEnterprises.Take(5))
                {
                    <li class="list-group-item">

                        <a href="@Url.Action("MenuApproval", new { enterpriseId = enterprise.Id })">

                            <h4 class="list-group-item-heading">@enterprise.Name</h4>

                        </a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="col-sm-12">
        <h1>Produkter</h1>
        <p>Totalt: @Model.ProductCount</p>
        <p>Snitt per restaurang: @(Model.ProductCount / Model.AllEnterprises.Count())</p>
    </div>
    <div class="col-sm-12">
        <h1>Restauranger <small>(@Model.AllEnterprises.Count())</small></h1>
        <ul class="list-group">
            @foreach (var e in Model.AllEnterprises)
            {
                <li class="list-group-item row">
                    <a href="@Url.Action("Index", "Cabaret", new { q = e.Id })" target="_blank"><strong>@e.Name</strong></a>
                    <span class="label label-info">
                        @if (e.Menu != null && e.Menu.Categories != null)
                        {
                            @e.Menu.Categories.SelectMany(c => c.Products).Count()
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </span>
                    @if (e.IsNew)
                    {
                        <span class="label label-warning ml5">Ny!</span>
                    }
                    @if (e.LockedFromEdit)
                    {
                        <span class="label label-danger ml5">Låst</span>
                    }
                    @if (e.OwnedByAccount)
                    {
                        <span class="label label-primary ml5">Ägd</span>
                    }
                    <a class="btn btn-danger pull-right" href="@Url.Action("DeleteEnterprise", "Admin", new { enterpriseId = e.Id })" onclick="return confirm('Really?');" >Radera<span class="glyphicon glyphicon-trash"></span></a>
                </li>   
            }
        </ul>
    </div>
}