@model iMenyn.Data.ViewModels.CompleteEnterpriseViewModel

@{
    ViewBag.Title = "Ny meny";
    ViewBag.IsEdit = true;
}
<div class="well">
    <strong>IsNew</strong>: @Model.Enterprise.IsNew<br/>
    <strong>ModifiedMenu</strong>: @Model.Enterprise.ModifiedMenu<br/>
    <strong>Sökord</strong>:
        @foreach (var searchTag in Model.Enterprise.SearchTags)
        {
            <span>@searchTag, </span>
        }
    
</div>
@Html.Partial("~/Views/Partials/Menu/Edit/_Menu.cshtml", Model)

@Html.ActionLink("Godkänn", "MenuApprovalFunction", "Admin", new { enterpriseId = Model.Enterprise.Id, approved = true }, new { @class = "btn btn-success" })
@Html.ActionLink("Godkänn ej", "MenuApprovalFunction", "Admin", new { enterpriseId = Model.Enterprise.Id, approved = false }, new { @class = "btn btn-danger", onclick = "return confirm('Vill du verkligen ta bort detta bidrag?');" })