@using Rantup.Web.ViewModels

@{
    var viewModel = PageData[0] as ProductListViewModel;
}
@if (viewModel != null)
{
    foreach (var foodType in viewModel.FoodTypes)
    {
        var icon = "";
        switch(foodType.Key)
        {
            case "main-dish":
                icon = "&#xe007;";
                break;
            case "drink":
                icon = "&#xe008;";
                break;
            case "extra":
                icon = "&#xe002;";
                break;
            default:
                icon = "";
                break;
        }
        
    <div class="marginB20">
        <h1 class="@foodType.Key"><span data-icon="@Html.Raw(icon)" class="purple marginR5"></span>@foodType.Name</h1>
        @foreach (var category in foodType.Categories)
        {
            <div class="product-category">
                
                @if(foodType.Key != "extra"){<h3 class="category-header">@category.Name</h3>}
                
                <ol>
                @foreach (var product in category.Products)
                {
                    <li>
                        <b class="product-name">@product.Name</b><i class="marginL10">@string.Format("{0}kr",product.Price)</i>
                        <p>@product.Description</p>
                    </li>
                }
                    </ol>

            </div>
        }
    </div>
    }
}