@model iMenyn.Data.ViewModels.EnterpriseViewModel
<div id="enterprise-info">
    <h1>@Model.Name</h1>
    <address>
    @Model.Address<br/>
    @Model.PostalCode, @Model.PostalTown<br/>
    Tel: @Model.Phone
    </address>
</div>