@using iMenyn.Data.ViewModels
<script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
@{
    var viewModel = PageData[0] as MenuViewModel;
}
@if (viewModel != null)
{
    <div class="marginB20">
        <div class="onerow">
            <div class="menu-head col12">
                <h1>@viewModel.Name</h1>
                <small>@viewModel.Address, @viewModel.PostalCode @viewModel.City</small>
            </div>
        </div>
        <a class="btn btn-success" href="tel:@viewModel.Phone"><span data-icon="&#xe000;" class="marginR5"></span>@viewModel.Phone</a>
        @if (viewModel.Categories != null)
        {
            <a href="javascript:void(0)" id="show-map" class="btn btn-info"><span data-icon="&#xe003;" class="marginR5"></span>Visa karta</a>
        }
        <div id="map-container" class="col12">
            <div id='map'></div>
        </div>
    </div>
    <div id="menu" class="well">
        @RenderPage("_StandardMenuProducts.cshtml", viewModel.Products)
    </div>
        if (!viewModel.RecentlyModified)
        {
            <a class="btn btn-inverse pull-right" href="javascript:void(0)" data-toggle="hide" data-target="#edit-help"><span data-icon="&#xe004;" class="marginR5"></span>Redigera menyn</a>
            <div id="edit-help" class="well hide">
                <h3>Tänk på att</h3>
                <ul>
                    <li>Dina ändringar kommer först att godkännas av en administratör innan de publiceras.</li>
                </ul>
                <a class="btn btn-success" href="/Manage/Products?enterpriseId=@viewModel.Id">OK, gå vidare!<span class="marginL10" data-icon="&#xe00d;"></span></a>
            </div>
        }
        else
        {
            <i>Denna meny har nyligen uppdateras och väntar på godkännande.</i>
        }
        
        

    <script>
 @*       var map = L.mapbox.map('map', 'jxxe.map-tdq4olrv')
.setView([@viewModel.Enterprise.Coordinates.Lat,@viewModel.Enterprise.Coordinates.Lng], 15);
        L.mapbox.markerLayer({
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [@viewModel.Enterprise.Coordinates.Lng,@viewModel.Enterprise.Coordinates.Lat]
            },
            properties: {
                title: '@viewModel.Enterprise.Name',
                'marker-color': '#f0a'
            }
        }).addTo(map);

        $("#show-map").click(function () {
            $("#map-container").toggleClass("visible");
        });*@

    </script>
}