<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - iMenyn.se</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    @Combiner.Css("/Content", "bootstrap.css,base.css,theme.css,layout.css,admin-layout.css,state.css,media-queries.css")

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <script src="~/js/Rantup.js"></script>
</head>
<body>

    <div class="navbar">
        <div class="onepcssgrid-1200">
            <a class="brand" href="/">iMenyn.se - Admin</a>
            <ul class="nav">
                <li>@Html.ActionLink("Start", "Index", "Admin")</li>
                
                @if (ViewBag.CurrentAccount.IsAdmin)
                {
                    <li>@Html.ActionLink("Konton", "Accounts", "Admin")</li>    
                    <li>@Html.ActionLink("Inställningar", "Settings", "Admin")</li>         
                }
                else
                {
                    <li>@Html.ActionLink("Hantera", "Index", "Admin")</li>
                }
                <li>@Html.ActionLink("Logga ut", "LogOff", "Account")</li>
            </ul>
        </div>
    </div>


    <section>
        <div class="onepcssgrid-1200" id="container-wrapper">
            @RenderBody()
        </div>
    </section>


    <div class="onepcssgrid-1200">
        <footer class="container">
            <p>&copy; 2013 Rantup</p>
        </footer>
    </div>
</body>
</html>
