@model iMenyn.Web.Models.LogOnModel

@{
    ViewBag.Title = "Logga in";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal" }))
{
    if (IsPost)
    {
    @Html.ValidationSummary(false, "")
    }

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, "Epost", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Lösenord", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, "Kom ihåg mig")
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <input class="btn btn-primary btn-lg" type="submit" value="Logga in" />
        </div>
    </div>

@* @Html.ActionLink("Återställ lösenord", "ResetPassword", "Account")*@
}

