@model iMenyn.Web.Areas.Admin.ViewModels.AccountViewData

@{
    ViewBag.Title = "Konton";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h2>Konton</h2>



@if (!ViewData.ModelState.IsValid)
{
    <div class="message message-alert">
        @Html.ValidationSummary(false, "")
    </div>
}
else
{
    if (IsPost)
    {
    <div class="message message-success col2 marginB20">
        Kontot skapades
    </div>
    }
}
<div class="onerow marginB20">
<a href="javascript:void(0)" class="btn btn-success" data-toggle="hide" data-target="#accounts-form">Skapa konto</a>

<div id="accounts-form" class="hide">
    @using (Html.BeginForm("AddAccount", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.Name, "Namn", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.Name, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.Name : "" })
                @Html.ValidationMessageFor(a => a.UserInput.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.Email, "Epost", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.Email, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.Email : "" })
                @Html.ValidationMessageFor(a => a.UserInput.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.Phone, "Telefon", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.Phone, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.Phone : "" })
                @Html.ValidationMessageFor(a => a.UserInput.Phone)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.Address, "Adress", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.Address, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.Address : "" })
                @Html.ValidationMessageFor(a => a.UserInput.Address)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.City, "Stad", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.City, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.City : "" })
                @Html.ValidationMessageFor(a => a.UserInput.City)
            </div>
        </div>
                <div class="control-group">
            @Html.LabelFor(a => a.UserInput.PostalCode, "Postnummer", new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(a => a.UserInput.PostalCode, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.PostalCode : "" })
                @Html.ValidationMessageFor(a => a.UserInput.PostalCode)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.Password, "Lösenord", new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(a => a.UserInput.Password, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.Password : "" })
                @Html.ValidationMessageFor(a => a.UserInput.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.ConfirmPassword, "Upprepa lösenord", new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(a => a.UserInput.ConfirmPassword, new { @class = "input-xlarge", @value = Model != null ? Model.UserInput.ConfirmPassword : "" })
                @Html.ValidationMessageFor(a => a.UserInput.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(a => a.UserInput.IsAdmin, "Admin", new { @class = "control-label" })
            <div class="controls">
                @Html.CheckBoxFor(a => a.UserInput.IsAdmin, new { @class = "input-xlarge" })
            </div>
        </div>
        <div class="control-group">
            <button type="submit" class="btn btn-success">Spara</button>
        </div>
    }   
</div>
    
    </div>
@foreach(var account in ViewBag.Accounts)
{
    <p>@account.Name</p>
}
