<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iMenyn.se - @ViewBag.Title</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    @Combiner.Css("/Content", "bootstrap.css,bootstrap-theme.css,module.css,views.css,media-queries.css")
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    @Combiner.Js("/Js", "modernizr-2.5.3.js,iMenyn.js,iMenyn.Utilities.js,jsrender.js")
    @if(ViewBag.IsAdmin)
    {
        @Combiner.Js("/Js", "iMenyn.Admin.js")
        @Combiner.Css("/Content", "admin.css")
    }
</head>
<body>
    @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
    <div class="navbar">
        <div>
            <a href="/">
                <img src="/Content/img/logo.png" id="logo" alt="logo" /></a>
            <div id="btn-nav" class="btn">
                <span data-icon="&#xe00e;"></span>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/"><span data-icon="&#xe011;"></span></a>
                    </li>
                    <li><a href="/Home/Browse">Bläddra<span data-icon="&#xe00f;" class="marginL10"></span></a></li>
                    <li>
                        <a href="/Manage">Skapa meny<span data-icon="&#xe010;" class="marginL10"></span></a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.IsAdmin)
                        {
                        <li>
                            @Html.ActionLink("Hantera", "Index", "Admin")
                        </li>
                        <li>
                            @Html.ActionLink("Logg", "Log", "Admin")
                        </li>
                        }
                        <li>
                            @Html.ActionLink("Logga ut", "Logout", "Account")
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-container" class="container">
        @RenderBody()
    </div>

    <footer>
        @if (!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logga in", "Login", "Account")
        }
    </footer>

    @*    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42548294-1', 'imenyn.se');
        ga('send', 'pageview');

    </script>*@
</body>
</html>
