<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | iMenyn.se</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    @Combiner.Css("/Content", "bootstrap.css,bootstrap-theme.css,jquery.growl.css,base.css,module.css,views.css,media-queries.css")
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    @if (ViewBag.IsAdmin)
    {
        @Combiner.Js("/Js", "/admin/iMenyn.Admin.js")
        @Combiner.Css("/Content", "admin.css")
    }
    @if (ViewBag.IsEdit)
    {
        @Combiner.Css("/Content", "/edit/edit-module.css")
@*Jquery UI måste komma före button.js. Annars funkar inte "save-menu-setup"*@
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        @Combiner.Js("/Js", "/edit/iMenyn.Edit.Utilities.js")
    }
    @Combiner.Js("/Js", "jquery.growl.js,iMenyn.js,handlebars-v1.3.0.js,button.js")
</head>
<body@(!string.IsNullOrEmpty(ViewBag.BodyId) ? string.Format(" id={0}",ViewBag.BodyId) : string.Empty)>
    @if (ViewBag.IsAdmin)
    {
        @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
    }
      <header></header>
    <nav>
        <div class="container">
            <div class="navbar-header">
                <a href="/" style="color:#fff;"><h1>imenyn.se</h1></a>
            </div>
            <ul class="pull-right">
                <li>
                    <a href="/Manage">Skapa meny<span data-icon="&#xe010;" class="marginL10"></span></a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (ViewBag.IsAdmin)
                    {
                        <li>
                            @Html.ActionLink("Hantera", "Index", "Admin")
                        </li>
                        <li>
                            @Html.ActionLink("Logg", "Log", "Admin")
                        </li>
                    }
                    <li>
                        @Html.ActionLink("Logga ut", "Logout", "Account")
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Logga in", "Login", "Account")</li>
                }
            </ul>
        </div>
    </nav>
  
    <div id="main-container" class="container">
        @RenderBody()
    </div>

    <footer>
    </footer>

    @*    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42548294-1', 'imenyn.se');
        ga('send', 'pageview');

    </script>*@
</body>
</html>
