@model iMenyn.Data.ViewModels.ProductViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-product form-horizontal" }))
{
    <div class="product row">
        <div class="info">
            <p>@Model.Name</p>
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <p>@Model.Description</p>
            }
            @if (Model.Prices != null)
            {
                foreach (var price in Model.Prices)
                {
                <span>@price.Price kr @price.Description</span>
                }
            }
            @if (Model.Abv > 0)
            {
                <span>@string.Format("Alkoholhalt: {0}%", Model.Abv)</span>
            }
        </div>

        <div class="edit-form col-sm-6">
            <div class="form-group">
                @Html.LabelFor(p => p.Name, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Description, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Prices, new { @class = "col-sm-2 control-label" })
                <div class="dynamic-fields col-sm-10">
                    @if (Model.Prices != null)
                    {
                        @*for (var i = 0; i < Model.Prices.Count(); i++)
                        {
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input name="Prices[@i].Price" value="@Model.Prices[i].Price" class="form-control"/>
                                    <span class="input-group-addon">kr</span>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <input name="Prices[@i].Description" value="@Model.Prices[i].Description" class="form-control" placeholder="Ex. 4cl, glas, medium"/>
                            </div>
                            <span class="glyphicon glyphicon-remove vertical-bottom"></span>
                        </div>  
                        }*@
                        foreach (var price in Model.Prices)
                        {
                               @Html.Partial("_ProductPrice",price)
                        }
                         @Html.ActionLink("Lägg till pris","BlankProductPrice",null,new{@class="dynamic-add"})
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Abv, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-3">
                    <div class="input-group">
                        @Html.TextBoxFor(p => p.Abv, new { type = "number", max = "90", @class = "form-control" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p=>p.EnterpriseId)
            @Html.HiddenFor(p=>p.CategoryId)
            <input type="submit" value="Spara" class="btn" />
        </div>
        <div class="edit-controls">
            <span class="glyphicon glyphicon-resize-vertical"></span>
            <span class="glyphicon glyphicon-pencil"></span>
        </div>
    </div>
}