@model iMenyn.Data.ViewModels.EnterpriseViewModel
@using iMenyn.Data.Helpers
@{
    Layout = null;
    var formClass = Model.ShowForm ? "show-form " : string.Empty;
    var hasCoordinates = Model != null && Model.Coordinates != null && Model.Coordinates.Lat > 0;
    var lat = (Model.Coordinates != null && Model.Coordinates.Lat > 0) ? Model.Coordinates.Lat : 0;
    var lng = (Model.Coordinates != null && Model.Coordinates.Lng > 0) ? Model.Coordinates.Lng : 0;
}


@using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = formClass + "form-horizontal", id = "enterprise-form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Namn", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone, "Telefon", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            <span class="help-block"><a href="javascript:void(0)" id="help-search"><small>Sök på Yelp</small></a></span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Typ</label>
        <div class="col-sm-4">
            <select id="category-chooser" class="form-control@((Model.DisplayCategories != null && Model.DisplayCategories.Count > 4) ? " hide" : "")">
                <option></option>
                @foreach (var category in GeneralHelper.GetCategories())
                {
                    <option value="@category.Value">@category.Text</option>    
                }
            </select>
            <div id="chosen-categories" class="form-inline marginB20">
                @if (Model.DisplayCategories != null)
                {
                    for (var i = 0; i < Model.DisplayCategories.Count; i++)
                    {
                    <div id="tag-@i" class="tag">@Model.DisplayCategories[i].Text
                        @Html.HiddenFor(m => m.DisplayCategories[i].Value)
                        <span class='glyphicon glyphicon-remove'></span>
                    </div>
                    }
                }
            </div>
            @Html.ValidationMessageFor(m => m.DisplayCategories)
            <label id="category-error" class="hide">Välj minst 1 kategori!</label>
        </div>
    </div>
    <hr />
    <h3 class="grey"><span class="glyphicon glyphicon-map-marker mr5"></span>Plats</h3>
    <div class="form-group">
        <label for="address-search" class="col-sm-2 control-label">Sök</label>
        <div class="col-sm-4">
            <input type="text" name="address-search" id="address-search" placeholder="Adress/plats" class="form-control">
        </div>
        <a id="my-location" href="javascript:void(0)" class="btn btn-info">Markera på karta<span class="glyphicon glyphicon-screenshot ml"></span></a>
        @Html.ValidationMessageFor(m => m.Coordinates)
    </div>

    <div id="location-details" class="well">
        <div id="location-details-errorlist"></div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @* Gatuadress *@
                    @Html.LabelFor(m => m.StreetRoute, "Gatuadress", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.StreetRoute, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @* Gatunummer  *@
                    @Html.LabelFor(m => m.StreetNumber, "Gatunummer ", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @* Postnummer  *@
                    @Html.LabelFor(m => m.PostalCode, "Postnummer ", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @* Postort  *@
                    @Html.LabelFor(m => m.PostalTown, "Postort ", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.PostalTown, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @* Kommun  *@
                    @Html.LabelFor(m => m.Commune, "Kommun ", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Commune, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @* Län  *@
                    @Html.LabelFor(m => m.County, "Län ", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mt50">
                    <label class="col-sm-4"></label>
                    <div class="col-sm-4">
                        <a id="save-enterprise" href="javascript:void(0)" class="btn btn-success btn-lg">Till menyn <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
            @Html.TextBoxFor(m => m.Nope, new { @class = "hide" })
            @Html.HiddenFor(m => m.CountryCode)
            @Html.HiddenFor(m => m.SubLocality)
            @Html.TextBoxFor(m => m.Coordinates.Lat)
            @Html.TextBoxFor(m => m.Coordinates.Lng)
            @Html.HiddenFor(m => m.Id)

            <div class="col-sm-8">
                <div id="map"></div>
            </div>
        </div>
    </div>  
}

<script>
    $(document).ready(function () {        
        if ('@hasCoordinates' === 'True') {
            setMap('@lat', '@lng');
        }
    });
    
    $("#save-enterprise").click(function () {
        var btn = $(this);
        iMenyn.Ajax.CreateTempEnterprise($("#enterprise-form"),btn);
    });

    //Initiate category chooser
    iMenyn.Utilities.InitCategoryChooser();

    $("#my-location").click(function () {
        putMyLocationOnMap();
    });

    $("#help-search").click(function () {
        var company = $("input[name='Name']").val();
        window.open("http://www.yelp.se/search?find_desc=" + company, "_blank");
    });
</script>
