@using iMenyn.Data.ViewModels
@model ViewModelCategory
@{
    Layout = null;
}

<div class="category row" data-category="@Model.Id">
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-resize-vertical btn btn-info category-sorter"></span>
    </div>
    <div class="col-sm-11">
            <h3 class="category-name">@Model.Name</h3>
    @foreach (var p in Model.Products)
    {
        @Html.Partial("_Product", p)
    }
    @if(Model.Products.Count == 0)
    {
        @Html.Partial("_Product", new ProductViewModel{EnterpriseId = Model.EnterpriseId,CategoryId = Model.Id})
    }
     @Html.ActionLink("Lägg till produkt", "BlankProduct", new { enterpriseId = Model.EnterpriseId, categoryId = Model.Id }, new { @class = "dynamic-add" })
    </div>
</div>