@model iMenyn.Data.ViewModels.CompleteEnterpriseViewModel
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
@{
    ViewBag.Title = "Demomeny";
}
@Model.Name

@foreach (var c in Model.ViewModelCategories)
{
    
    <div class="category" data-category="@c.Id">
        <h3 class="category-name">@c.Name</h3>
        @foreach (var p in c.Products)
        {
            @Html.Partial("_AddOrEditProduct", p)
        }
        <div>
            @Html.Partial("_AddOrEditProduct", new iMenyn.Data.ViewModels.ProductViewModel())
        </div>
       
        <a href="javascript:void(0)">Lägg til produkt</a>
    </div>
}

<a id="save-menu-setup" href="javascript:void(0)" class="btn btn-success">Spara</a>

<form id="test">
    <input name="Name" value="Namn"/>

                <input value="8a9488b7-f803-4192-8f4f-f640f944e89e" autocomplete="off" name="ViewModelCategories.index" type="hidden">
                <input id="ViewModelCategories_8a9488b7-f803-4192-8f4f-f640f944e89e__Name" name="ViewModelCategories[8a9488b7-f803-4192-8f4f-f640f944e89e].Name" type="text" value="TJA">
    
                <input value="7a9488b7-f803-4192-8f4f-f640f944e89e" autocomplete="off" name="ViewModelCategories.index" type="hidden">
    <input id="ViewModelCategories_7a9488b7-f803-4192-8f4f-f640f944e89e__Name" name="ViewModelCategories[7a9488b7-f803-4192-8f4f-f640f944e89e].Name" type="text" value="sdf">

                <input type="submit" value="kör"/>
</form>

<script>
    /*?Name=namn&ViewModelCategories.index=123&ViewModelCategories[123].Name=TJA&ViewModelCategories.index=777&ViewModelCategories[777].Name=sdf*/
    $(".add-product-price").click(function() {
        var $this = $(this);
        $.ajax({
            url: this.href,
            cache: false,
            success: function (html) {
                console.log(html)
                $this.append(html);
            }
        });
        return false;
    });
    $(".category").sortable({ items: ">form", handle: ".glyphicon-resize-vertical" });

    iMenyn.Utilities.DynamicFieldAdd();

    $("#save-menu-setup").click(function () {
        var $categories = $(".category");
        var setup = new Object();
        setup.Categories = new Array();
        for (var i = 0; i < $categories.length; i++) {
            var $category = $($categories[i]);
            var category = new Object();
            category.id = $category.data('category');
            category.name = $category.find('.category-name').html();
            category.products = new Array();
            var products = $category.children().find('.product');
            for (var j = 0; j < products.length; j++) {
                var productId = $(products[j]).find("input[name='Id']").val();
                if (productId)
                    category.products.push(productId);
            }
            setup.Categories.push({ Id: category.id, Name:category.name, Products:category.products });
        }
        iMenyn.Ajax.SaveMenuSetup(JSON.stringify(setup),'@Model.Id');
    });

    $(".form-product").submit(function () {
        //var formData = $(this).serialize();
        //iMenyn.Ajax.SaveProduct(formData);
        var formData = JSON.stringify($(this).serializeObject());
        
        /*TEST*/
        var priceGuids = $(this).serializeObject()['Prices.index'];
        for (var i = 0; i < priceGuids; i++) {
            console.log(priceGuids[i])
            formData = formData.toString().replaceAll("Name", "a");
        }
        console.log(formData)
        /*slut TEST*/

        var categoryId = $(this).closest("[data-category]").data("category");
        //iMenyn.Ajax.SaveProduct(formData, categoryId, '@Model.Id');
        return false;
    });
    
    $("#test").submit(function () {
        //var formData = $(this).serialize();
        //iMenyn.Ajax.SaveProduct(formData);
        // var a = '{ "prices":{"Name":"namn","ViewModelCategories.index":["6a9488b7-f803-4192-8f4f-f640f944e89e","8a9488b7-f803-4192-8f4f-f640f944e89e"],"ViewModelCategories":[{"ViewModelCategories[6a9488b7-f803-4192-8f4f-f640f944e89e].Name":"asd"},{"ViewModelCategories[8a9488b7-f803-4192-8f4f-f640f944e89e].Name":"TJA"}]}     }';
        // //var a = '{ "prices":{"Name":"namn","ViewModelCategories.index":["6a9488b7-f803-4192-8f4f-f640f944e89e","8a9488b7-f803-4192-8f4f-f640f944e89e"],"ViewModelCategories[6a9488b7-f803-4192-8f4f-f640f944e89e].Name":"asd"},{"ViewModelCategories[8a9488b7-f803-4192-8f4f-f640f944e89e].Name":"TJA"}}     }';
        // var formData = JSON.stringify($(this).serializeObject());
        // var j = '{ "prices": ' + formData + '}';
        //console.log(a)
        // $.ajax({
        //     data: a,
        //     dataType: "json",
        //     contentType: "application/json; charset=utf-8",
        //     url: '/Manage/T/',
        //     type: "POST"
        // });
        // return false;
    });


    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
